[Unit]
Description=Inicia Django + Ngrok + Celery al arrancar
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=elconet
WorkingDirectory=/opt/autoarranque
ExecStart=/usr/bin/python3 /opt/autoarranque/lanzar_backend.py
Restart=always
RestartSec=10s
StandardOutput=append:journal
StandardError=append:journal

[Install]
WantedBy=multi-user.target
