[Unit]
Description=Inicia Django + Ngrok + Celery al arrancar
After=network.target

[Service]
Type=simple
User=axel
WorkingDirectory=/opt/mi_proyecto
ExecStart=/usr/bin/python3 /opt/mi_proyecto/iniciar_servidor.py
Restart=always
RestartSec=10s
StandardOutput=file:/tmp/mi_servidor.log  # Guarda logs aquí
StandardError=file:/tmp/mi_servidor_error.log

[Install]
WantedBy=multi-user.target
